<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319682194780-gev5sa59198ch4o789ca50hkgglpk89g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319682194780-gev5sa59198ch4o789ca50hkgglpk89g</string>
	<key>API_KEY</key>
	<string>AIzaSyCmCNMV9W64FyTBnXxDeWBFyO1Vu62iETA</string>
	<key>GCM_SENDER_ID</key>
	<string>319682194780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.borisSobolev.ToDoFi</string>
	<key>PROJECT_ID</key>
	<string>todofi-ff411</string>
	<key>STORAGE_BUCKET</key>
	<string>todofi-ff411.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319682194780:ios:83e34b9cd5927983782599</string>
</dict>
</plist>